<!DOCTYPE html>
<html lang="en">


<header>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Comment Box in HTML and CSS Example</title>
    <meta name="author" content="Codeconvey" />
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="../css/buy_photos2.css">
    <link rel="stylesheet" href="../css/mdb.min.css" />
    
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="../css/buy_photos.css" />
</header>


<body>
<!-- Start your project here-->






<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
    <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="https://lightintime.com">
          <img src="../img/henry.jpg" height="15" alt="MDB Logo" loading="lazy"/>
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://lightintime.com">Back To Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://lightintime.com/photo_gallery.html">Photo Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://lightintime.com/video_page.html">Video Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/watch?v=sneJi65uS-w">Youtube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.fotocommunity.de/fotograf/henry-lindner/773324">Fotocommunity Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://lightintime.com/about.html">Contact Info</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
<!-- Navbar -->



    <!-- Start of Bootstrap Grid -->
    <div class="container" id="grid_container">
      <div class="row mb-5">
        <div class="col-md left">



<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- partial:index.partial.html -->
<section id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="comment">
        <p v-for="items in item" v-text="items"></p>
          </div><!--End Comment-->
          </div><!--End col -->
          </div><!-- End row -->
      <div class="row">
        <div class="col-6">
      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
          <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End Container -->
  </section><!-- end App -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="js/script.js"></script>
           
        </div>
    </div>
    </div>
</section>
        </div>
      </div>
      
    </div>

    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script type="text/javascript" src="../js/testJS2.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <!-- Vue JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

  </body>
</html>