.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: whitesmoke;
  text-transform: uppercase;
  animation: flip 7s infinite;
  animation-delay: calc(.5s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
} 

.author_txt {
    font-family: 'Sofia', sans-serif;
    color: whitesmoke;
}


#button_vid {
  background-color: transparent;
  border-color: #ccc;
  color: black;
}

#light {

}
#button_photo {
  background-color: transparent;
  border-color: #ccc;
  color: red;
}


#button_contact {
  background-color: transparent;
  border-color: #ccc;
  color: yellow;
}

.henry_Img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


#about_me_txt {
    color: white;
}

.cloud-text {
    font-family: 'Coiny', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
    background-size: auto;
    background-attachment: unset;
    background-position: 0%;
    width: 80%;
    margin: 10%;
    font-size: 134px;
    animation: clouds-moving infinite 220s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
    text-align: center;
}
@keyframes clouds-moving {
    0% {
        background-position: 0%;    
    }
    50% {
        background-position: 100%;  
    }
    100% {
        background-position: 0%;
    }
}
.attribute {
    position: relative;
    font-size: 26px;
    text-align: center;
}

.award_Img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

body {
    background-color: black;
}

h3 {
    color: white;
}

p {
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.chevron {
  position: fixed;
  bottom: 45px;
  right: 20px;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: fixed;
  bottom: 45px;
  right: 20px;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}